/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/robots.txt
/sitemap
/sitemap.xml
/.idea
/.gitattributes
/app/*
!/app/code
!/app/design
!/app/i18n
/bin
/dev
/lib
/phpserver
/node_modules
/.grunt
/Gruntfile.js
/package.json
/.php_cs
/.php_cs.cache
/grunt-config.json
/pub/*
/setup
/var
/vendor
/generated
.DS_Store
SECURITY.md
